build/
install/
log/
logs/
tmp/
.colcon/
.venv/
__pycache__/
local/
config/local.yaml
.vscode/
.idea/
.DS_Store

# Python 编译文件
*.pyc
*.pyo
*.egg-info/
*.env
# ROS2 编译产物
compile_commands.json
*.cmake
CMakeCache.txt
CMakeFiles/
Makefile
CTestTestfile.cmake
install_manifest.txt

# 临时文件
*.swp
*.swo
*~
.*.sw?

# 子模块（使用 thirdparty.repos 管理）
src/px4_msgs/
src/px4_ros_com/
src/v1.14